@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Graphik LCG";
    font-style: italic;
    font-weight: 600;
    src: local("Graphik LCG"), url("../fonts/GraphikLCG-SemiboldItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-SemiboldItalic.woff") format("woff");
}

:root {
    --font-family: "Manrope", sans-serif;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    color: rgb(60, 63, 52);
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    color: currentcolor;
    text-decoration: none;
}

.list-reset {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.btn-reset {
    padding: 0px;
    border: none;
    font-family: var(--font-family);
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0px auto;
}

.btn {
    color: rgb(255, 255, 255);
    padding: 14px 73.5px;
    background: linear-gradient(98.8deg, rgb(151, 188, 93) 0.78%, rgb(192, 217, 151) 98.41%);
    box-shadow: rgba(135, 182, 112, 0.3) 0px 10px 30px;
    border-radius: 9px;
}

.header {
    max-height: 79px;
    padding: 8px 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
}

.nav__item--last {
    margin-right: 0px;
}

.nav__link {
    display: inline-block;
}

.nav__link::after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: rgb(135, 182, 112);
    transition: width 0.4s ease-in-out 0s;
}

.nav__link:hover::after,
.nav__link:focus::after {
    width: 100%;
}

.header__button {
    padding: 14px 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid rgb(135, 182, 112);
    border-radius: 9px;
    transition: all 0.3s ease-in-out 0s;
}

.header__button:hover {
    background-color: rgb(135, 182, 112);
    color: rgb(255, 255, 255);
}

.hero {
    padding-bottom: 136px;
}

.hero-container::before {
    content: "";
    background: url("../img/hero.png") right center / contain no-repeat;
    position: absolute;
    top: 1%;
    right: calc((100% - 1400px) / 2);
    width: 91vw;
    height: 71vh;
    z-index: -1;
}

.hero__content {
    max-width: 685px;
    padding-top: 136px;
}

.hero__subtitle {
    display: inline-block;
    margin-bottom: 15px;
    font-family: "Graphik LCG";
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    color: rgb(135, 182, 112);
}

.hero__title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 55px;
    line-height: 72px;
    margin-top: 0px;
}

.hero__descr {
    max-width: 585px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 140%;
}

.tools__title {
    margin-bottom: 87px;
    font-weight: 500;
    font-size: 40px;
    line-height: 131.1%;
    text-align: center;
}

.tools__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 140px;
    row-gap: 45px;
}

.tools__item {
    width: 270px;
    text-align: center;
}

.tools__image {
    display: inline-block;
    text-align: center;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: rgba(162, 162, 162, 0.25) 0px 10px 30px;
    width: 87px;
    height: 87px;
    border-radius: 50%;
}

.tools__image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    margin: auto;
    inset: 0px;
}

.tools__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}

.tools__descr {
    font-size: 16px;
    line-height: 140%;
}

.about__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: calc((100% - 1200px) / 2);
}

.about__image--1 {
    display: inline-block;
    position: relative;
    max-width: 833px;
    max-height: 479px;
}

.button_plus {
    position: relative;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.button_plus::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 100%;
    background: rgb(151, 188, 93);
    top: 50%;
    left: 50%;
}

.button_plus::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(151, 188, 93);
    height: 100%;
    width: 2px;
}